<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{ISO8601}] [%level] [%logger{15}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="kafkaAppender" class="com.github.b0ch3nski.rtla.logback.KafkaAppender">
        <hostName>testhost</hostName>
        <zkAddress>zk:2181</zkAddress>
        <topic>logs</topic>
    </appender>

    <logger name="kafka" level="OFF"/>
    <logger name="com.github.b0ch3nski.rtla.logback" level="OFF"/>
    <logger name="com.github.b0ch3nski.rtla.kafka" level="OFF"/>
    <logger name="com.github.b0ch3nski.rtla.common" level="OFF"/>

    <root level="TRACE">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="kafkaAppender" />
    </root>

</configuration>
